@import 'src/styles/colors.scss';

.add-new-comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  &__left {
    .avatar-wrapper {

    }
  }
  &__right {
    flex-grow: 1;
    margin-left: 10px;
    &__actions {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 6px;
      .save-btn {
        background-color: $light-blue;
      }
      .cancel-btn {
        height: 100%;
      }
    }
  }
}
