.add-new-card {
    position: relative;
    background: green;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.add-new-card-open {
    background: #21272b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    textarea {
        resize: none;
        border: none;
        outline: none;
        padding: 6px;
        background-color: #21272b;
        color: white;
        font-size: 16;
        font-weight: 600;
    }
    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        margin-top: 6px;
        .save {
            background-color: #85b8ff;
            color: #1d2125;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
            padding: 6px 12px;
            &:hover {
                opacity: 0.7;
            }
        }
        .close {
            line-height: 0;
            border-radius: 3px;
            padding: 5px 3px;
            &:hover {
                background-color: #a6c5e229;
            }
            svg {
                //margin-top: 6px;
                //line-height: 0;
            }
        }
    }
}

.add-new-card-closed {
    background: #21272b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    p {
        font-weight: 600;
    }
}