@import 'src/styles/colors.scss';

.add-new-card {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-new-card-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $dark-1;
    .editable-text-area {
        font-size: 16px;
    }
    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        margin: 8px 0 0;
        .save {
            background-color: $light-blue;
            &:hover {
                opacity: 0.7;
            }
        }
        .close {
            border-radius: 3px;
            padding: 2px 3px;
            background-color: transparent;
            &:hover {
                background-color: $grey-2;
            }
        }
    }
}

.add-new-card-closed {
    background-color: $dark-4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
        background-color: #2c3431;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 10px;
        p {
            font-weight: 600;
            margin-top: 2px;
        }
    }
}
