@import 'src/styles/colors.scss';

.card-preview__footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    &:hover {
        background-color: $light-main;
        svg {
            color: $dark-1;
        }
    }
    svg {
        font-size: 16px;
    }
}
