@import 'src/styles/colors.scss';

.label-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 0;
    height: 16px;
    &-big {
        padding: 8px 10px;
        border-radius: 3px;
    }
    &:hover {
        opacity: .7;
        transition: opacity .3s ease-in-out;
        cursor: default;
    }
    .label {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        &-big {
            font-size: 14px;
        }
    }
}
