@import 'src/styles/colors.scss';

.card-description {
  &-open {
    .editable-text-area {
      width: 100%;
      font-size: 16px;
    }
    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      margin: 8px 0;
      .save {
        background-color: $light-blue;
        &:hover {
          opacity: 0.7;
        }
      }
      .cancel {
        background-color: transparent;
        &:hover {
          transition: 0.3s;
          background-color: #a6c5e229;
        }
      }
    }
  }
  &-closed {

  }
}

