@import 'src/styles/colors.scss';

.board-wrapper {
  height: calc(100vh - 50px);
  position: relative;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__main {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    &__lists {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      & > div {
        margin-right: 10px;
      }
    }
    &__add-new {

    }
  }
}