@import 'src/styles/colors.scss';

.board-wrapper {
  &__main {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    &__lists {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      & > div {
        margin-right: 10px;
      }
    }
    &__add-new {

    }
  }
}