@import 'src/styles/colors.scss';

.board-wrapper {
  &__columns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    & > div {
      margin-right: 10px;
    }
  }
}