@import 'src/styles/colors.scss';

.card-checklist {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      span { // checkbox
        padding: 0;
        margin-right: 18px;
      }
    }
  }
}
