@import 'src/styles/colors.scss';

.card-modal__content__right__sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 40px;
    .header-icon {
      position: absolute;
      top: 0;
      left: -40px;
    }
    .subheader {
      font-size: 16px;
      font-weight: 600;
    }
    .editable-input-wrapper {
      input {
        font-size: 16px;
      }
    }
  }
  .card-info-section {
  }
  .description-section {
    .subheader {
      margin-top: 2px;
    }
  }
  .checklist-section {
    margin-left: 0;
    gap: 0;
    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 3px;
      .header-icon {
          position: relative;
          top: unset;
          left: unset;
      }
      .subheader {
          font-size: 16px;
          font-weight: 600;
      }
    }
    .editable-input-wrapper {
      margin-left: 8px;
      margin-top: -3px;
    }
    //.header-icon {
    //  left: 0;
    //}
    .card-checklist {
      &__items {
        &__item {
          .editable-input-wrapper {
            margin-top: 3px;
            margin-left: 0;
          }
        }
      }

    }
  }
  .comments-section {
    margin-left: 0;
    gap: 0;
    .subheader {
      margin-top: 3px;
    }
  }
  .activity-section {
  }
}