
$light-main: #b6c2cf;

$dark-blue: #002244;
$light-blue: #579dff;

$dark-1: #101207;
$dark-2: #101207; // not in use
$dark-3: #0000003d;
$dark-4: #21272b;
$dark-5: #2c3338;

$grey-1: #3e474f;
$grey-2: #a6c5e229;
$grey-3: #4e5a63;
