@import 'src/styles/colors.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  margin: 0;
}

a, p, span, svg {
  color: $light-main;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
}

button {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  outline: none;
  border: none;
  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
}

.side-label {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  &.overdue, &.today {
    svg {
      font-size: 14px;
    }
  }
  &.overdue {
    color: #ae2e24;
    background: #ffd5d2;
    svg {
      color: #ae2e24;
    }
  }
  &.today {
    color: #f8e6a0;
    background: #7f5f01;
    svg {
      color: #f8e6a0;
    }
  }
}
