@import '../../../styles/colors';

.progress-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  &__left {
    min-width: 30px;
    .percent-num {
      font-size: 11px;
      font-weight: 600;
      padding-left: 3px;
    }
  }
  &__right {
    width: 93%;
  }
}
