@import 'src/styles/colors.scss';

.card-comments {
  &__comments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      .delete-icon {
        cursor: pointer;
        svg {
          font-size: 22px;
        }
      }
    }
  }
}
