.card-details {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      margin: 0;
      font-weight: 600;
    }
    &__right {
      margin: 0;
      font-weight: 600;
      svg {
        cursor: pointer;
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    &__left {
      width: 75%;
    }
    &__right {
      width: 25%;
      &__actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        &__action {
          box-sizing: border-box;
          background-color: #3e474f;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          padding: 6px 10px;
          cursor: pointer;
          &:hover {
            background-color: #4e5a63;
          }
        }
      }
    }
  }
}