@import 'src/styles/colors';

.navbar-wrapper {
  background-color: $dark-4;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    &__left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      color: $light-main;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50px;
        margin-right: 20px;
        img {
          width: 100%;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        &__item {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          &:hover {

          }
          .create {
            background-color: $light-blue;
          }
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      .search {
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }
        input {
          width: 200px;
          height: 32px;
          padding: 0 40px;
          border-radius: 5px;
          border: 1px solid rgba(164, 153, 137, .6);
          outline: none;
          font-size: 16px;
          &:focus {
            border: 1px solid $dark-2;
          }
        }
      }
      .notifications, .info, .user {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
  }
}