@import 'src/styles/colors.scss';

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & > div {
    background: $dark-5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
}
