@import 'src/styles/colors';

.background-picker {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px 10px;
  &__header {
    p {
      margin-bottom: 10px;
    }
  }
  &__backgrounds {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &__images {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .upload-item {
        width: 190px;
        height: 100px;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        &:hover {
          opacity: 0.7;
          transition: opacity 0.3s ease-in-out;
        }
      }
      .plus {
        background: $dark-5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        p {
          font-size: 55px;
        }
        input {
          display: none;
        }
      }
      &__image {
        width: 190px;
        height: 100px;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          opacity: .7;
          transition: opacity .3s ease-in-out;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      .selected-image {
        border: 3px solid $light-blue;
      }
    }
  }
  &__footer {
    border-top: 1px solid $dark-3;
    margin-top: 14px;
    padding-top: 14px;
    .save {
      background-color: $light-blue;
    }
  }
}
