@import 'src/styles/colors';

.card-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 400px;

  .subheader {
    font-weight: 600;
  }

  &__labels {

    &__wrapper {
      display: flex;
      gap: 4px;
      margin-top: 4px;
      &__plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background: $grey-1;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
  }
  &__due {
    &__section {
      &__indicator {
        background: $grey-1;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 3px;
        font-size: 14px;
        padding: 8px 12px;
        margin-top: 4px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          transition: opacity 0.2s ease-in-out;
        }
        .date {
          font-weight: 500;
        }
      }
    }
  }
}