@import 'src/styles/colors';

.card-checklist {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 16px;
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      & > svg {
        margin-left: 12px;
      }
      .editable-input-wrapper {
        margin-top: 3px;
        margin-left: 0;
      }
      .delete-icon {
        cursor: pointer;
        svg {
          font-size: 16px;
        }
      }
      span { // checkbox
        padding: 0;
      }
    }
  }
}
