@import 'src/styles/colors.scss';

.card-modal {
  padding-left: 40px;
  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-top: 40px;
    &__left {
      width: 75%;
    }
    &__right {
      width: 25%;
    }
  }
}

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & > div {
    background: $dark-5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
  .save-button {
    margin-top: 12px;
    background-color: $light-blue;
    font-size: 14px;
  }
}
