@import 'src/styles/colors.scss';

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    margin: 0;
    width: 70%;
    &__title {
      width: 100%;
      .closed-input {
        background: transparent;
        border: 1px solid transparent;
      }
    }
    &__list {
      font-size: 13px;
      margin-top: 3px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    &__watch {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      padding: 6px 8px;
      svg {
        font-size: 16px;
      }
    }
    svg {
      cursor: pointer;
    }
  }
}
