@import 'src/styles/colors';

.board-header {
  background-color: $dark-3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  &-icon {
    cursor: pointer;
  }
  &__left {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 20px;
      font-weight: 600;
      color: $light-main;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    &-icon {
      cursor: pointer;
    }
  }
}

.change-bg {
  width: 20px;
  height: 20px;
  position: relative;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
