@import 'src/styles/colors.scss';

.board-header {
  background-color: $dark-3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 20px;
      font-weight: 600;
      color: $light-main;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    &-icon {
      cursor: pointer;
    }
  }
}