@import '../../styles/colors.scss';

.board-header {
  background-color: #0000003d;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    &-title {
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    &-icon {
      cursor: pointer;
    }
  }
}